 ##############################################
 ###          Configuration file            ###
 ##############################################

 # Add electrode with the following settings
 use_electrode = T

 # Ensure grid spacing around electrode is less than this value:
 refine_electrode_dx =  5.0000E-05

 # Whether the electrode is grounded or at the applied voltage:
 field_electrode_grounded = F

 # The size of the coarse grid: coarse_grid_size = 32 32

 # Electrode relative start position (for standard rod electrode):
 field_rod_r0 =  0.0  0.90

 # Electrode relative end position (for standard rod electrode):
 field_rod_r1 =  0.0  1.0

 # Electrode radius (in m, for standard rod electrode):
 field_rod_radius =  1.0000E-04

 cylindrical = T

 # The desired endtime in seconds of the simulation:
 end_time = 1000e-9

 # The length of the (square) domain:
 domain_len = 10e-3 10e-3

 # Whether the domain is periodic (per dimension):
 periodic = F F

 # How the electric field or voltage is specified:
 field_given_by = "voltage 16e3"
 
 # Specifying the pulse parameters
 field_rise_time = 1.0e-9
 field_fall_time = 1.0e-9

 field_pulse_width = 13.0e-9

 field_num_pulses = 10

 field_pulse_period = 100e-9
 # The background ion and electron density in 1/m^3:
 background_density = 0.1000E+15

 # Memory limit (GB):
 memory_limit_GB =  32

[gas]
    # Gas component names:
    components = 'N2' 'O2'

    # Whether the gas dynamics are simulated:
    dynamics = T

    # Fast Joule heating efficiency (between 0.0 and 1.0):
    fast_heating_efficiency =  3.0000E-01

    # Gas component fractions:
    fractions =  8.0000E-01  2.0000E-01

    # Gas mean molecular weight (kg), for gas dynamics:
    molecular_weight =  4.7824E-26

    # The gas pressure (bar):
    pressure =  1.0000E+00

    #  Slow Joule heating efficiency (between 0.0 and 1.0 with 1-fast_heating_efficency):
    slow_heating_efficiency =  3.0000E-01

    # Vibration-Translation relaxation time (default=20e-6 sec):
    tau_vt =  2.0000E-05

# Number of simulation steps to wait before initializing "the starting position of the streamer:
initial_streamer_pos_steps_wait = 5

 [photoi]
    # Whether photoionization is enabled:
    enabled = T

    # Which photoionization method to use (helmholtz, montecarlo):
    method = 'helmholtz'

    # Update photoionization every N time step:
    per_steps = 4

 # Input file with transport data:
 input_data%file = ../../transport_data/air_chemistry_v3.txt

 [input_data]
    # List of ion mobilities (m^2/Vs) at 1 bar, 300 K:
    ion_mobilities =  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04  2.2000E-04

    # List of ions that are considered mobile:
    mobile_ions = 'N2_plus' 'O2_plus' 'N4_plus' 'O4_plus' 'O2_min' 'O_min' 'O3_min'

    # Input file with transport data:
    file = ../../transport_data/air_chemistry_v3.txt

    # Use old style transport data (alpha, eta, mu, D vs V/m):
    old_style = F
    
[table_data]
    # Input interpolation method (linear, cubic_spline):
    #input_interpolation = 'linear'
    input_interpolation = 'linear'

    # Maximal field (in Td) for the rate coeff. lookup table:
    max_townsend =  1.0000E+03

    # Minimal field (in Td) for the rate coeff. lookup table:
    min_townsend =  1.0000E+00

    # Size of the lookup table for reaction rates:
    size = 1000

    # x-spacing for lookup table (linear, quadratic):
    #xspacing = 'linear'
    xspacing = 'quadratic'
 
[output]
    # Output the conductivity of the plasma:
    conductivity = T

    # The timestep for writing output (s):
    dt =  5.0000E-10

    # To reduce output when the voltage is off:
    dt_factor_pulse_off = 10

    # Show the electron energy in eV from the local field approximation:
    electron_energy = F

    # Name for the output files (e.g. output/my_sim):
    name = './output/2pulse_start'

    # Print status every this many seconds:
    status_delay =  1.0000E+01

[datfile]
    # Write binary output files every N outputs:
    per_outputs = 50

    # Write binary output files (to resume later):
    write = T

# Only derefine if grid spacing if smaller than this value:
derefine_dx =  5.0000E-05

# Small density for the chemistry time step:
# dt_chemistry_nmin =  1.0000E+15

# The maximum timestep (s):
dt_max =  1.0000E+00

# The minimum timestep (s):
dt_min =  1.0000E-15

# Safety factor for the time step:
dt_safety_factor =  9.0000E-01

# Multiplication factor to derefine electrode during interpulse:
electrode_derefine_factor =  2.0000E+00
